<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856508855489-28hv0ibj8sqr2s6af8fucihbnchmlvrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856508855489-28hv0ibj8sqr2s6af8fucihbnchmlvrc</string>
	<key>API_KEY</key>
	<string>AIzaSyD_twQ8j_8yfvsvMgm1FdENCujJ-afdlnY</string>
	<key>GCM_SENDER_ID</key>
	<string>856508855489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.mapsExample.mapsExample</string>
	<key>PROJECT_ID</key>
	<string>mapsexample-13439</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsexample-13439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856508855489:ios:4534bb1241bb5e14a01040</string>
</dict>
</plist>